{{> header}}
	<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
      <h1 class="logo__text">chatmeup</h1>
    </div>

    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to ChatMeUp.</h1>
      <h2 class="heading--secondary">Are you ready to spend your time here?</h2>
    </div>
    <div class="thumbnail__links">
      <ul class="list-inline m-b-0 text-center">
        <li><a href="connect/facebook"><fa class="fa fa-facebook"></fa></a></li>
        <li><a href="connect/google"><i class="fa fa-google"></i></a></li>
        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <form action="/account" method="POST">
   	<h2>Edit your account</h2>
      <div class="form-group">
        <label for="name">Username</label>
        <input class="form-control" type="text" name="name" id="username" placeholder="{{user.name}}"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" placeholder="{{user.email}}"/>
      </div>
      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Edit" />
          </li>
          <li>
            <button value="logout" class="btn btn--form"><a href="/logout">Log out</a></button>
          </li>
        </ul>
      </div>
    </form>  
    {{#if user.facebook.id}}
    <div style="width:100%; padding:15px; color:#000;" class="facebook-container">
      <span>Имя</span> - {{user.facebook.name}}
      <span>почта</span> - {{user.facebook.email}}
    </div>
    {{/if}}
    {{#if user.google.id}}
    <div style="width:100%; padding:15px; color:#000;" class="google-container">
      <span>Имя</span> - {{user.google.name}}
      <span>почта</span> - {{user.google.email}}
    </div>
    {{/if}}
  </div>
</div>
{{> footer}}